/* Mocha Theme Pasted Here */

@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

/* Mocha Theme Ends Here */

* {
font-family: "FiraCode Nerd Font Mono";
font-weight: bold;
min-height: 0;
font-size: 100%;
font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
padding: 1px;
}

/* #ebdbb2 is a beautiful golden color */

window#waybar {
    border: 2px solid @mauve;
	border-radius: 12px;
    background-color: alpha(@base, 0.7);
  	transition-property: background-color;
  	transition-duration: .5s;
}

window#waybar.hidden {
}

window#waybar.empty {
	background-color: alpha(@base, 0.5);
}

window#waybar.empty #window {
	padding: 0px;
	border: 0px;
}

tooltip {
	opacity: 1;
	border-radius: 10px;
}

tooltip label{
	padding: 10px;
	color: @mauve
 ;
}

.modules-right {
}

#custom-cava,
#cpu,
#memory,
#mpris,
#network,
#pulseaudio,
#temperature,
#custom-menu,
#custom-swaync{
    /* border-left: 1px dashed @mauve; */
    color: @text;
	padding-top: 3px;
	padding-bottom: 3px;
    padding-left: 12px;
    padding-right: 12px;
}

#clock {
    margin-left: 3px;
    margin-right: 3px;
	padding-left: 6px;
	padding-right: 6px;
    background-color: rgba(0,0,0,0);
    color: @green;
}

#workspaces {
	border-radius: 10px;
    color: @mauve;
	padding-top: 3px;
	padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

#window{
    color: @text;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 12px;
}

#workspaces button {
	margin-left: 0px;
	margin-right: 3px;
    box-shadow: none;
	text-shadow: none;
    border-radius: 6px;
    border: 2px dotted @mauve;
	padding-left: 6px;
    padding-right: 6px;
    background-color: rgba(0,0,0,0);
    color: @mauve;
}

#workspaces button.active {
	margin-left: 0px;
	margin-right: 3px;
    box-shadow: none;
	text-shadow: none;
    border-radius: 6px;
    border: 2px solid @yellow;
    padding-left: 12px;
    padding-right: 12px;
    background-color: alpha(@mauve, 0.1);
    color: @yellow;
}

#temperature.critical {
  background-color: red;
}
